<nav
  class="fixed left-0 right-0 top-0 z-40 h-[var(--nav-height)] border-b border-gray-300 bg-gray-100"
>
  <div class="flex h-14 items-center justify-between gap-8 px-4">
    <a class="shrink-0" href="/">Casa do Caminho</a>
  </div>
</nav>

<div class="mt-14 flex">
  <aside class="top-14.25 fixed bottom-0 left-0 overflow-y-auto p-2">
    <nav class="flex flex-col gap-8">
      <p-button
        icon="pi pi-bars"
        pTooltip="Menu"
        tooltipPosition="right"
        [text]="true"
        (click)="appmenu.toggle($event)"
      />
    </nav>
  </aside>

  <main class="ml-14 flex-1 overflow-y-auto p-4">
    <router-outlet></router-outlet>
  </main>
</div>

<p-tieredmenu #appmenu [model]="items" [popup]="true" />

<p-toast position="bottom-left" [baseZIndex]="5000" />
