<p-dialog
  header="{{ header }}"
  [(visible)]="visible"
  [style]="{ width: '550px' }"
  [modal]="true"
  [position]="'top'"
  [draggable]="false"
>
  <span class="p-text-secondary mb-8 block">
    <form [formGroup]="form" class="grid gap-x-3 gap-y-3 sm:grid-cols-12">
      <div class="sm:col-span-12">
        <label for="descricao">Descrição</label>
        <input
          type="text"
          pInputText
          id="descricao"
          fluid
          [pAutoFocus]="true"
          formControlName="descricao"
        />
      </div>
    </form>
  </span>

  <div class="flex justify-end gap-2">
    <p-button
      label="Cancelar"
      severity="secondary"
      [outlined]="true"
      (onClick)="visible = false"
    />
    <p-button
      label="Salvar"
      [disabled]="!form.valid"
      [loading]="saving"
      (click)="onSave()"
    />
  </div>
</p-dialog>
