/* Dependencies */
@use "tailwindcss";
@use "primeicons/primeicons.css";

/* Custom styles */

:root {
  color-scheme: light;

  --nav-height: 57px;

  --p-overlay-modal-padding: 0.8rem;
  --p-overlay-modal-border: 1px solid #e7e7e7;
}

html {
  height: 100%;
  line-height: 1;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f9fafb;
  color: #333;
}

/* Overrides */

.p-dialog {
  .p-dialog-header {
    border-bottom: var(--p-overlay-modal-border);
  }

  .p-dialog-content {
    padding-top: var(--p-overlay-modal-padding);
  }

  .p-dialog-footer {
    border-top: var(--p-overlay-modal-border);
    padding-top: var(--p-overlay-modal-padding);
  }
}
